[mongodb]
connection_string=mongodb://brett:password123@mongod100.mongodb.local:27017,mongod101.mongodb.local:27017,mongod102.mongodb.local:27017/admin?replicaSet=repl0&retryWrites=true&w=majority
db=data
collection=sample
timeout=1000
no_docs=10000
batch_size=10
sleep=10
debug=True
ssl_enabled=True
ssl_pem_path=/data/pki/server.pem
ssl_ca_cert_path=/data/pki/ca.cert